body {
    background: #ffffff;
    font-family: ulp-font, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, sans-serif;
}

.login-container {
    width: 400px;  /* 固定寬度 */
    margin: 0 auto; /* 水平置中 */
    padding: 20px;
    text-align: center; /* 文字置中 */
}

.header {
    text-align: center; /* 將chatgpt的logo置中 */
}

.header img {
    max-width: 190px; /* 設置logo大小 */
    height: auto;
    margin-top: 55px;
    margin-bottom: 100px;
}


h2 {
    font-size: 30px; /* 設定歡迎回來字體大小 */
    margin-bottom: 30px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

input[type="email"], .continue-button {
    width: 80%; /* 輸入框寬度 */
    height: 50px; /* 輸入框高度 */
    line-height: 40px;
    padding: 0 10px;
    border: 1px solid #999; /* 邊框 */
    border-radius: 5px; /* 圆角 */
    box-sizing: border-box;
    margin-bottom: 20px;
}

.continue-button {
    background-color: #10a37f; /* 按鈕背景顏色 */
    color: white; /* 文字颜色 */
    border: 1px solid #10a37f; /* 邊框 */
    border-radius: 5px; /* 圓角 */
    cursor: pointer;
    transition: background-color 0.3s;
}

.continue-button:hover {
    filter: brightness(95%);/* 停留時的背景顏色 */
}
.signup-link {
    font-size: 14px;
}

.signup-link a {
    color: #10a37f; /* 超連結的顏色 */
    text-decoration: none; /* 不要有超連結的底線 */
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    width: 80%;
    margin: 20px auto;
}

hr::before {
    content: "或者";
    display: inline-block;
    background-color: #fff;
    position: relative;
    top: -11px;
    padding: 0 10px;
    color: #999;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-buttons button {
    display: flex; /* 使用 Flexbox 進行排列 */
    align-items: center; /* 垂直置中 */
    justify-content: left; /* 水平置中 */
    width: 80%; /* 按鈕寬度和<hr>相同 */
    height: 50px; /* 按鈕寬度 */
    line-height: 40px;
    margin-bottom: 10px;
    border: 1px solid #999; /* 邊框 */
    border-radius: 5px; /* 圓角 */
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s;
}

.social-buttons button img {
    margin-left:15px;
    margin-right: 15px; /* 圖片與文本之間的間距 */
    max-width: 20px;
}
.social-buttons button:hover {
    background-color: #f2f2f2; /* 停留時的背景顏色 */
}
.continue-google {
    font-size: 15px; /* 字體大小 */
}

.continue-microsoft {
    font-size: 15px; /* 字體大小 */
}

.continue-apple {
    font-size: 15px; /* 字體大小 */
}

.link {
    margin-top: 150px;
}

.link a {
    color: #10a37f; /* 超連結顏色 */
    text-decoration: none; /*去除超連結的底線*/
}